.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255.255,0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
}

.glass2{
    background-color:tomato;
    z-index: -10;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    position: relative;
    display: flex;
    align-items:'center';
    height: 100vh;
    justify-content:'center';
}